@width: 1170px;

.margin-t-b {
  margin-top: 300px;
  margin-bottom: 300px;
}

.footer {
  .margin-t-b;
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 30px;

  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
  }

  a {}

  .copyright,
  .footer-privacy-policy {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
  }
}

.footer-contact-us {
  float: left;
  // width: @width / 5;
  width: 220px;
  display: block;
  // margin-right: 80px;
}


.footer-useful-info {
  width: 420px;
  float: left;

  div {
    float: left;
  }

  // margin-right: 77px;
}


.footer-suscribe {
  width: 372px;
  float: right;
}

.footer {

  .copyright,
  .footer-social-links,
  .footer-privacy-policy {
    display: inline-block;
  }
}


.footer-social-links {
  // display: inline-block;
  margin: 0 auto;
}

.footer-privacy-policy {
  float: right;
}