.top-header {
  min-height: 360px;
  background-color: #f5f5f5;

  h2 {
    text-transform: capitalize;
    letter-spacing: -2px;
    margin-top: 158px;
  }
}

.section-products {
  padding-top: 67px;
  padding-bottom: 138px;

  .featured-header {
    margin-bottom: 0;
  }

  .section-products-menu {
    float: none;

    li a {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-right: 18px;
      padding-left: 7px;
      padding-bottom: 14px;
    }
  }

  .trending-products-products {
    padding-top: 51px;
    padding-bottom: 42px;

    a {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}

#reload {
  display: block;
  width: 42px;
  height: 29px;
  margin: 0 auto;
  background-image: url(img/rotate.svg);
  background-repeat: no-repeat;
  border-radius: 50%;
}

#reload:hover {
  transform: scale(1.1);
}

#reload:active {
  transform: scale(0.9);
}


.footer {
  background-color: #f7f7f7;
  padding-top: 114px;
  padding-bottom: 30px;

  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    letter-spacing: -0.1px;
  }

  .footer-useful-info a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
  }

  .copyright,
  .footer-privacy-policy {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #6c6c6c;
  }
}

.footer {
  .footer-contact-us {
    float: left;
    width: 224px;
    margin-right: 76px;
  }
}

.footer {
  .footer-useful-info {
    width: 424px;
    float: left;

    // margin-right: 77px;
    div:last-child {
      margin-left: 88px;
    }

    div {
      display: inline-block;

      a {
        display: block;
      }
    }
  }
}

.footer {
  .footer-suscribe {
    width: 374px;
    float: right;
    position: relative;

    p {
      margin-bottom: 25px;
    }

    input[type="email"] {
      width: 372px;
      font-size: 14px;
      font-weight: 300;
      color: #6c6c6c;
      padding: 12px 20px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 50px;
      height: 44px;
      border: none;
      background-image: url(img/fly.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: inherit;
      position: absolute;
      right: 2px;
      bottom: 0px;
    }

    input[type="submit"]:hover {
      cursor: pointer;
    }

    input[type="submit"]:active {
      box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34) inset;
      border-radius: 20%;
    }

  }
}

.footer {
  div .m-b {
    margin-bottom: 59px;
  }
}

.footer {

  .copyright,
  .footer-social-links,
  .footer-privacy-policy {
    display: inline-block;
  }
}

.footer {
  .copyright {
    float: left;
    margin-top: 8px;
  }
}

.footer {
  .footer-social-links {
    margin-left: 157px;
    width: 130px;
    height: 28px;
    background-image: url(img/social-links.svg);
    background-repeat: no-repeat;

    a {
      display: inline-block;
      width: 29px;
      height: 28px;
      border-radius: 50%;
    }
  }
}

.footer-privacy-policy {
  float: right;
  margin-top: 8px;
}